.u-section-1 .u-sheet-1 {
  min-height: 823px;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 701px;
  margin: 20px auto 0 110px;
}

.u-section-1 .u-image-2 {
  width: 570px;
  height: 570px;
  margin: -721px -14px 0 auto;
}

.u-section-1 .u-text-1 {
  margin: -104px 78px 0 auto;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 102px 195px 60px auto;
  padding: 8px 33px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 756px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 664px;
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    width: 540px;
    height: 540px;
    margin-top: -684px;
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: -74px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 310px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 418px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 340px;
    margin-top: -438px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 126px;
  }
}