 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("images/20220501_180627.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 767px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 6rem;
  margin: 381px auto 0;
}

.u-section-1 .u-text-2 {
  width: 346px;
  margin: 20px auto 0;
}

.u-section-1 .u-shape-1 {
  width: 250px;
  height: 219px;
  margin: 17px auto 0 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-size: 140%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 632px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 158px;
  }

  .u-section-1 .u-shape-1 {
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 484px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 84px;
  }

  .u-section-1 .u-shape-1 {
    margin-bottom: 15px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 363px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 23px;
    margin-left: 46px;
    margin-right: 46px;
  }

  .u-section-1 .u-shape-1 {
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 415px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
    margin-top: 231px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-shape-1 {
    width: 125px;
    height: 110px;
    margin-top: -46px;
    margin-left: -63px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 344px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 60px auto 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  line-height: 1.4;
  font-weight: 400;
  margin: 20px 479px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  border-style: none;
  margin: 38px auto 60px 0;
  padding: 13px 32px 14px 31px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-2 {
    margin-right: 279px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    margin-right: 59px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 113px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 188px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 144px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 100px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 506px;
}

.u-section-4 .u-text-1 {
  margin: 98px auto 0 45px;
}

.u-section-4 .u-text-2 {
  margin: 213px 781px 0 167px;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-icon-1 {
  width: 64px;
  background-image: none;
  height: 64px;
  margin: 16px auto 0 278px;
  padding: 10px;
}

.u-section-4 .u-text-3 {
  margin: -25px auto 0 342px;
}

.u-section-4 .u-image-1 {
  width: 345px;
  height: 345px;
  margin: -366px auto 0 137px;
}

.u-section-4 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: -277px 267px 0 auto;
  padding: 19px 50px 21px 49px;
}

.u-section-4 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 30px 267px 60px auto;
  padding: 19px 120px 20px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-2 {
    margin-right: 681px;
    margin-left: 67px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 282px;
  }

  .u-section-4 .u-btn-2 {
    margin-right: 67px;
  }

  .u-section-4 .u-btn-3 {
    margin-right: 67px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-2 {
    margin-right: 528px;
    margin-left: 0;
  }

  .u-section-4 .u-icon-1 {
    margin-left: 213px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 216px;
  }

  .u-section-4 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-4 .u-btn-3 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-2 {
    margin-right: 348px;
  }

  .u-section-4 .u-icon-1 {
    margin-left: 160px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 162px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 505px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 211px;
    margin-right: 126px;
    margin-left: 22px;
  }

  .u-section-4 .u-icon-1 {
    width: 52px;
    height: 52px;
    margin-top: 20px;
    margin-left: 37px;
    padding: 8px;
  }

  .u-section-4 .u-text-3 {
    margin-top: -38px;
    margin-left: 102px;
  }

  .u-section-4 .u-image-1 {
    width: 170px;
    height: 170px;
    margin-top: -192px;
    margin-right: -17px;
    margin-left: auto;
  }

  .u-section-4 .u-btn-2 {
    margin-top: -278px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 183px;
}

.u-section-5 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 60px auto;
  padding: 9px 68px 11px 67px;
}.u-section-6 .u-sheet-1 {
  min-height: 158px;
}

.u-section-6 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 54px auto;
  padding: 13px 80px 15px 79px;
}