.u-section-1 .u-sheet-1 {
  min-height: 650px;
}

.u-section-1 .u-image-1 {
  width: 344px;
  height: 344px;
  margin: 15px 16px 0 auto;
}

.u-section-1 .u-text-1 {
  margin: -62px 35px 0 auto;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-2 {
  margin: -230px auto 0 112px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 112px auto 0 75px;
  padding: 8px 33px;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: -40px auto 0 266px;
  padding: 8px 33px;
}

.u-section-1 .u-btn-4 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: -44px auto 0 464px;
  padding: 8px 33px;
}

.u-section-1 .u-btn-5 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 24px auto 0 75px;
  padding: 8px 37px;
}

.u-section-1 .u-btn-6 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: -40px auto 0 266px;
  padding: 8px 55px 8px 54px;
}

.u-section-1 .u-btn-7 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 45px 112px 0 auto;
  padding: 8px 33px;
}

.u-section-1 .u-btn-8 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -10px auto 0 394px;
  padding: 8px 33px;
}

.u-section-1 .u-btn-9 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 30px auto 60px 394px;
  padding: 8px 51px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-top: 75px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -367px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 20px;
    margin-left: 66px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 264px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-6 {
    margin-top: 20px;
    margin-left: 66px;
  }

  .u-section-1 .u-btn-7 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-8 {
    margin-left: 194px;
  }

  .u-section-1 .u-btn-9 {
    margin-bottom: 0;
    margin-left: 194px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-top: 429px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -431px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 20px;
    margin-left: 44px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-8 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-9 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    margin-top: 20px;
    margin-bottom: initial;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1002px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -60px;
    margin-right: 40px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 36px;
    margin-bottom: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 15px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 25px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 19px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-btn-6 {
    margin-top: 25px;
  }

  .u-section-1 .u-btn-7 {
    margin-top: -6px;
    margin-right: 2px;
  }

  .u-section-1 .u-btn-8 {
    margin-top: 41px;
  }
}